.alert-content{
  font-size: 15px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;
}
.alert-box{
  padding: 4px;
}
.alert-box.center{
  text-align: center;
}
.alert-box.left{
  text-align: left
}
.alert-box.right{
  text-align: right
}
.alert-box-content{
  padding: 8px 16px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  display: inline-block;
  pointer-events: all;
}

.alert-box-content .alert-icon{
  font-size: 18px;
  margin-right: 8px;
  top: 1px;
  position: relative;
}

.info{
  color: #007bff !important
}
.success {
  color: #28a745 !important
}
.error {
  color: #dc3545 !important
}
.warning {
  color: #ffc107 !important
}

.fade-enter {
  opacity: 1;
  transform: translateY(-50px);
}
.fade-leave {
  opacity: 1;
  transform: translateY(0);
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fade-leave.fade-leave-active {
  opacity: 1;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
